[2013-06-11 13:28] veny opened #1 "One JobServer->Client response in more packets"
Implement a solution when there is more packets (socket#data events) for one response.

[2013-06-13 07:54] veny opened #2 "Job#response should be a Buffer, not a string"
Additionaly there should be method for conversion to string according to job's encoding.

[2013-06-14 11:57] veny opened #3 "Timeout for closing unused JobServer connection"
A connection to job server should be closed after some time when not used.

[2013-11-11 20:56] veny opened #4 "Server initially working and suddenly falling down causes crash of client"
It should be load-balanced and error should be firren only if there is no more working server.

[2013-11-12 17:14] #4 closed, assigned to veny

[2014-01-30 19:36] leabdalla opened #5 "how to bulk add jobs"
i'm querying all my users in database and adding one job each in gearman.

this only works if I send 10 jobs per second async and setTimeout.
If I just add without this interval and limit, only first 10~20 jobs are added and the connection seems to be dropped.

is there a way to bulk add jobs? I'm talking about 3k...

I've tried with PHP and have no problem added 1k jobs in one simple foreach loop

[2014-02-19 00:01] fillmorejd opened #6 "Getting "Error: out of sync with server" when multiple packets returned from gearman server"
I'm returning a large JSON data set from gearman and it is split into two packets.
verbose: received packet, len=1448
verbose: received packet, len=1669

the second packet always causes an "Error: out of sync with server" because it doesn't have the leading data for the packet type.

The two packets are never combined so the data is always incomplete.

Any idea how we can update the code to work w

[2014-02-19 22:51] #6 closed, assigned to veny

[2014-02-20 07:25] #1 closed, assigned to veny

[2014-02-27 17:52] fillmorejd opened #7 "Handle attached to wrong job"
When submitting many jobs at one time the jobs get the wrong handle. So job "A" will get Job "B" object.

I've tracked this down to:
JobServer.prototype._processData
    case protocol.PACKET_TYPES.JOB_CREATED:
    job = this.jobsWaiting4Created.pop();

Job "A" is this.jobsWaiting4Created[0]
Job "B" is this.jobsWaiting4Created[1]

When create returns for Job "A" it get Job "B" job object because of

[2014-02-27 21:47] #7 closed, assigned to veny

[2014-03-17 22:56] squareproton opened #8 "Where is there best place to ask questions re GearmaNode?"
This is a bit 'meta' (appologies for that); the docs are top notch but I can't see a place referenced anywhere where I could ask a question about GearmaNode. Would you mind being contacted by email? Is there a google group, IRC channel or other place where it is possible to discuss GearmaNode?

[2014-03-19 19:35] veny opened #9 "JobServer#connect performed twice if two JobServer#send called on unconnected"
If JobServer#send  is called immediately in seqeunce on unconnected JobServer object, the 'connect' method will be invoked twice.

[2014-03-19 21:07] #9 closed, assigned to veny

[2014-04-05 19:19] leabdalla opened #10 "when_to_run functionality"
is there any plan to improve `when_to_run` functionality?

or, is there any way to add a job setting a date to run?

[2014-04-06 08:09] #5 closed, assigned to veny

[2014-04-07 18:44] #10 closed, assigned to veny

[2014-04-22 22:48] #8 closed, assigned to veny

[2014-04-26 11:01] rafacustodio opened #11 "Project update"
Is this project still has updates?

[2014-05-22 17:52] jeffdupont opened #12 "Unable to catch error if the job servers are unreachable"
error: failed to obtain job server from load balancer (all servers invalid?)

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: failed to obtain job server from load balancer (all servers invalid?)
    at Client._unrecoverableError (./node_modules/gearmanode/lib/gearmanode/client.js:262:24)
    at Client._getJobServer (./node_modules/gearmanode/lib/gearmanode/client.

[2014-06-17 19:33] #12 closed, assigned to veny

[2014-07-10 09:32] atrniv opened #14 "Client does not close"
The gearman client does not seem to close the open connection to job servers correctly.
I ran the default example client and worker code given in the readme and the client hangs after getting the result of the job. It does not exit.

I dug through the code and found `socket.end()` being called in `job-server.js` line `175`.
When I replaced it with `socket.destroy()` everything seems to work fine.

[2014-07-18 20:13] #14 closed, assigned to veny

[2014-07-18 20:14] #11 closed, assigned to nobody

[2014-07-25 21:49] amv opened #15 "Job.response is not documented"
It exists in the examples but it is not listed in the Job documentation.

[2014-07-25 21:56] amv opened #16 "Client error handling is not well documented"
I would like to know the following things:

Do I need to listen to "failed", "exception", "timeout" and "error" (and maybe even "close") to know that the work has definitely been cancelled?

If one of these is called, is there a guarantee that the "completed" event will not be emitted? Or is it possible that the client recovers from an "error" for example?

Can many of these error callbacks be cal

[2014-07-28 15:06] #15 closed, assigned to veny

[2014-07-28 15:50] #16 closed, assigned to veny

[2014-08-07 10:33] atrniv opened #17 "'submited' event can never be listened on"
In the `client.submitJob` function the [tryToSend](https://github.com/veny/GearmaNode/blob/master/lib/gearmanode/client.js#L167) function ultimately results in a synchronous [socket.write](https://github.com/veny/GearmaNode/blob/master/lib/gearmanode/job-server.js#L244).

As a result the tryToSend is really synchronous when it seems to be asynchronous. The result of this is that the `jsSendCallbac

[2014-08-24 13:15] leabdalla opened #18 "how to complete disable console logging?"
I can disable Client class loggin with

[code]

But, how can I disable debug/verbose logging?

[2014-08-24 20:33] #17 closed, assigned to veny

[2014-08-25 17:36] jeffdupont opened #19 "Running multiple workers on a single box"
I know that this was possible while using PHP workers or Python workers, but running 2 Node workers on a single box seem to pick up the same job as it's requested. Do you have any examples of code on running the same worker multiple times on a single box?

[2014-08-31 08:46] #18 closed, assigned to veny

[2014-09-12 09:03] #19 closed, assigned to veny

[2014-10-07 22:34] awdrius opened #21 "Missing JOB_CREATED?"
Hi,

when nodejs app is under load, I start seeing 'unknown job' errors. Once one pops up, it starts cascading and is followed by more and more errors (I suspect it's because of the jobsWaiting4Created being out of sync?) until node app is restarted. I added some debug code of my own + enabled debug logging level for GearmaNode:

[code]

You can easily spot the issue if you look for mwcV8bBoyuCjXq

[2014-11-28 01:58] kirrie opened #22 "occasionally unintended string added to job.payload"
Hi.

This seem like occuring when job is queued before worker run. But not all cases.
In that situation, I get a weird string in job.payload like below.

"...... (job.payload) ... RES\nRES\n"

[2015-01-04 20:50] veny commented on #22
hi Kirrie,

unfortunately I cannot figure out the problem, but I can provide you some tips to find the problem.

1) start the gearman job server in debug mode (it will produce a lot of output)
[code]
in case your problem occurs check log of the worker. you should see something as follows
[code]
* number of bytes will be different in your case, but JOB_ASSIGN is important
* then check output of gea

[2015-01-04 20:51] #21 closed

[2015-03-04 16:34] veny commented on #22
closed because of inactivity

[2015-03-04 16:34] #22 closed

[2015-03-17 18:07] recunius opened #23 "worker function timeout {number}"
When supplying a timeout during worker function registration I am getting a warning:
warn: unrecognized argument to encode, class=Number

Should the timeout be given as a number? If so, can the encodePacket in protocol.js handle the Number class without warning?

[2015-03-18 00:32] recunius commented on #23
It looks like the C gearmand server doesn't honor timeouts. So I abandoned the use of timeout in GearaNode. Still might be worth cleaning up the logging in this case.

[2015-03-18 08:28] veny commented on #23
the timeout should be given as follows:
[code]
is it your way?

the timeout is sent to the job server and should be handled by the server according to gearman documentation:
* a timeout value on how long the job is allowed to run. After the timeout value, the job server will mark the job as failed and notify any listening clients.

[2015-03-18 17:04] recunius commented on #23
Sorry, didn't mean to close the issue.

In trying to use timeouts I first discovered that the logger is reporting
[code]
when sending a GEARMAN_CAN_DO_TIMEOUT command to the server. I tracked it down to the timeout Number class which is visited during the call to encodePacket in protocol.js line 153

[code]

Since the protocol is designed to send the timeout as a string I think worker.js should pr

[2015-03-18 19:54] recunius opened #24 "Retry connection to gearmand server when connection lost"
When losing a connection to the Gearman server currently GearmaNode does not have an option to reestablish the connection.

I thought of implementing such a solution outside of GearmanNode (for a worker), but that would be difficult when load balancing between multiple servers. The only straightforward option would be to discard the Worker instance and create a new one, but in doing so either the

[2015-03-18 20:41] veny commented on #23
the first problem with warning message is no problem for you. as you can see on next line, the method `toString` is called on the given parameter (line 154):
[code]
and line 176:
[code]

[2015-03-23 16:54] veny commented on #2
released in 0.2.0

[2015-03-23 16:54] #2 closed

[2015-03-31 20:44] squareproton opened #25 "GearmaNode 0.2.0 failing on repeated high frequency jobs."
I've been migrating a node application away from andris9/node-gearman to take advantage of the additional features available in GearmaNode (job priorities and background jobs) and also because it looks like andris9/node-gearman is no longer maintained. Unfortunately we have run into problems with GearmaNode not returning the correct data if multiple jobs are submitted to a client in quick successi

[2015-03-31 21:13] veny commented on #25
I can simulate the bug, so a good prerequisite for a bug fix.

[2015-03-31 21:47] veny commented on #25
problem caused by joining 2 Gearman responses in one network packet. there is an error in parsing.

will be solved ASAP.

[2015-03-31 22:30] veny commented on #25
I commited a fix. please try a version from github.
when you confirm the fix, I release a new version.

copy of your code is commited too, in folder test/BF25.

[2015-04-01 00:02] squareproton commented on #25
Nice one veny and a big thanks for the hard work you put into this! It's work like you are doing here that makes the opensource ecosystem such a pleasure to be a part of.

I'll try the new version tomorrow and let you know how it goes.

[2015-04-01 13:57] squareproton commented on #25
Yes. This issue is not longer reproducible at commit 0178f8632521dd97339fde7c06f90760de6455bb.

[2015-04-01 14:30] squareproton opened #26 "Performance problems at 0178f8632521dd97339fde7c06f90760de6455bb"
We've just finished replacing node-gearman with GearmaNode in our app but in testing we noticed a cpu load increase and a massive drop in performance.

I've run some benchmarks with a php server and a node-gearman vs GearmaNode client and the results are very interesting.

For small payload sizes node-gearman is competitive but (~25% slower) but when the payload gets to about about 10K things star

[2015-04-01 15:32] veny commented on #25
fix released in v0.2.1

[2015-04-01 15:32] #25 closed

[2015-04-01 15:46] veny commented on #23
some observation to the 2nd problem:
* I can simulate the behaviour described by you
 * even the job server confirms in log a registration of a worker's function with timeout
* I didn't find relevant information in Gearman documentation or corresponding forum threads
* after analysis of Gearman's source code, I suppose the timout is not for obtained response from worker, the timeout is for networ

[2015-04-01 15:46] #23 closed

[2015-04-01 17:36] veny commented on #26
Performance optimization can be a time consuming task. I focus on it during weekend.

[2015-04-01 18:01] squareproton commented on #26
Thanks Veny - really appreciated.

[2015-04-01 23:09] squareproton commented on #26
I think 90% of this is related to the very extensive logging. If you all the calls to winston .log() are removed performance improves massively. In the worst case it appears GearmaNode is only 25% slower than nodegearman when you do this.

[2015-04-02 19:08] veny commented on #26
yes, you are right, I discovered it too.
I just released v0.2.2 with corresponding fix.

[2015-04-02 19:08] #26 closed

[2015-05-05 12:17] hay-wire commented on #24
@veny @recunius I'm also facing the same issue. Any updates on this?

[2015-05-15 17:34] allevo opened #27 "Avoid set unique to '' (empty string)"
When the client submits a new job with this library, the packet contains always the unique id.
If the developer doesn't set it, the '' (empty string) fallback is used. So when multiple tasks are sent with the same unique id (that is '', empty string), gearman server couldn't save correctly the queued jobs.
The problem begin here:
https://github.com/veny/GearmaNode/blob/master/lib/gearmanode/client

[2015-05-26 17:19] janober opened #28 "Multiple jobs in parallel in one node process"
Hello,

just started to play around with gearman and wanted to allow each node-process to handle multiple jobs at the same time. Wanted to avoid the overhead of multiple node processes.

So wanted to see if simply calling:
[code]
multiple times in the same node-app does the trick.

The simple test I did worked fine as long as I did start the client first and then the single worker with the 4x "add

[2015-05-26 19:00] janober commented on #28
Ups just realized that I should probably also add
[code]
into the creation loop. As soon as I do that, it works fine no matter what I start first. However would still be interested in knowing if that is ok to do or if that could cause any problems anybody can think of.

Thanks!

[2015-06-02 19:44] janober commented on #24
Did also just run into the same issue...

[2015-06-04 14:44] unr3al011 opened #30 "multiple jobs event issue"
Hello i am facing a problem with job events:

i am getting rows from mysql and send them to my workers.

    rows.forEach(function(row) {
	  		  var job = client.submitJob('test', JSON.stringify(row));

				job.on('workData', function(data) {
					console.log('WORK_DATA >>> ' + data);
				});
				job.on('complete', function() {
					console.log('RESULT >>> ' + job.response);
					client.close();

[2015-06-04 15:51] unr3al011 commented on #30
after removing
     client.close();
from complete event everything worked fine.

[2015-06-04 15:51] #30 closed

[2015-06-04 19:13] veny commented on #28
hi Jan,
node.js is a single thread technology. it means one node.js process provides for you only one thread that can process data received from gearman server.
with other words, it does not matter how many workers you register in one node.js process, only one can work in given time.

[2015-06-04 19:28] janober commented on #28
Ah yes I am aware of that. And you are right it would probably be totally wrong for the most use cases. However my workers are parsing websites and the most of the time they are just sitting there and doing nothing because they are waiting for the response. And then does a lot of stuff happen in PhantomJS which is another task anyway.

So ignoring the single thread thing are you aware of any issue

[2015-06-04 19:38] veny commented on #28
if your worker waits for a HTTP response of a website to be parsed, it is marked on gearman server as a busy worker and the server does not assign a new task.
but, you can start more node.js processes. this is usual approach for parallelization. not on thread level, but on process level.

[2015-06-04 20:06] janober commented on #28
Ah yes that would be the easiest and obvious thing to do. Just wanted to avoid the overhead of multiple node processes (did honestly not really test/check how much it it really is per process). In my case I run it currently on very very small virtual machines (most time just 1 CPU with 0.5-1 GB RAM). So no matter if I start one process or multiple ones, the one CPU is the limit.

By running it all

[2015-06-09 16:40] janober commented on #28
Simply assume everything will be fine because that seems to be the case.

So I close it.

[2015-06-09 16:40] #28 closed

[2015-06-15 08:47] mike442144 opened #31 "Where is `sendData` function?"
I can find this function in document but not in code, I just find `sendWorkData` in worker , why?

[2015-06-15 13:36] mike442144 opened #32 "How can I set winston logger for gearmanode?"
Since I have my own winston logger and I want put this together with gearmanode. But when I do like this:

    winston.loggers.add('Client', {
    console: {
    colorize: true,
    level:'info'
    },
    file: {
	filename: '../log/gearman.client.log'
    }})

I use code above because I see the code in `Client.js` get logger use `Client` but it didn't work, all verbose information will be printed

[2015-06-15 15:47] veny commented on #31
hi mike,
you found a mistake in documentation. this method really does not exist, I removed it from documentation. you can use `workComplete` or `sendWorkData`.

[2015-06-15 15:51] veny commented on #32
the reason is that gearmanode library registers more loggers. I updated the documentation to list all the loggers. you can configure all of them before first use of gearmanode like this:

[code]

for more info about winston see the library itself.

[2015-06-15 16:11] veny commented on #27
hi Tommaso,
I do believe it is correct. see the documentation here: http://gearman.org/protocol/

you can see there an example of job submission:
[code]

[2015-06-16 01:41] mike442144 commented on #31
Got it. Thanks

[2015-06-16 01:41] #31 closed

[2015-06-16 02:16] mike442144 commented on #32
Thanks for your reply, But I think `gearman.Client.logger` is equal to `winston.loggers.get("Client")` so `gearman.Client.logger.transports.console.level = 'info';` is equal to `winston.loggers.get("Client").transports.console.level='info'` which I referred in `winston.loggers.add` function.

[2015-06-16 02:44] mike442144 commented on #32
Also

winston.loggers.default = {
    transports:[
	new logger.transports.Console({
	    level:'info',
	    colorize:true
	}),
	new logger.transports.File({
	    filename:'../../log/gearman.client.log',
	    level:'warn',
	    logstash:true
	})
    ]
}

doesn't work.

[2015-06-16 07:38] mike442144 opened #33 "What does background job actually mean?"
I'm confused with the background job when I search on the `gearman.org` I find manual `http://gearman.org/manual/clients/` but it said nothing about the background job which mentioned on the home page ` background for asynchronous processing`.

Anyone knows the details? Thanks first.

[2015-06-16 08:23] allevo commented on #27
Used the following code (without a unique id):
[code]
The sent buffer is this:
[code]

Setting the unique to 'a', the generated buffer is this:
[code]
As you can see, the buffet is the same to part of last letter.
Why?

[2015-06-16 08:24] mike442144 commented on #32
I read winston source code in detail, I find when your code winston.loggers.get("Client") means that winston will create a new instance of winston.Logger which will use Container's default options that as following:
    this.default = {
        transports: [
          new winston.transports.Console({
            level: 'silly',
            colorize: false
          })
        ]
      }
and at the

[2015-06-16 13:56] mike442144 opened #34 "Is there a hook for function?"
Is there a hook for registered on worker, because I wanna handle the `payload` in every registered function, like:

    try{
        JSON.parse(job.payload.toString())
    }catch(err){
        logger.error(err)
    }

If not , I have to write the code in every registered function.

[2015-06-18 19:55] veny commented on #33
there is a description:
http://gearman.org/examples/

[2015-06-18 20:20] veny commented on #27
I disagree. there is my try:
[code]
and then with unique:
[code]

I added following line on protocol.js#190:
[code]

[2015-06-18 20:26] veny commented on #32
sorry mike,
I do believe this is a question for Winston forum. I just obtain my loggers by calling the Winston's API.

a tip: as far I know, you can configure a logger with options only by first call of `winston.loggers.get()`. thereafter if a logger with given ID already exist, you obtain already existing object.

[2015-06-18 21:05] veny commented on #34
what about following trick:

[code]

and then:

[code]

[2015-06-18 21:08] veny commented on #24
hi all,
I put this task on my roadmap. should be done in Juni.

[2015-06-18 22:17] allevo commented on #27
Could you try with a background job?
As you underline, the packet that contains a unique, is larger then a packet that doesn't.
Probably the problem is present only with a background job. Tomorrow I will make more tests

[2015-06-19 05:58] mike442144 commented on #34
Thanks a lot , that's a kind of solution, but if there is a hook would be better. I think a framework should expose every processing stage to callers.

[2015-06-19 06:26] mike442144 commented on #33
So it means job should be processed one by one on service side? because to nodejs every job will send to server at the same time, won't be blocked.

[2015-06-19 06:29] mike442144 commented on #32
Thanks, I'll continue reading code before I can solve

[2015-06-19 07:19] mike442144 commented on #33
Now comes another problem, everything is working well if I call `submitJob` without `options` but worker print these messages if I call with background=true:

    debug: packet encoded, type=WORK_COMPLETE, buffer.size=10522
    verbose: packet sent, type=WORK_COMPLETE, len=10522
    debug: packet encoded, type=PRE_SLEEP, buffer.size=12
    verbose: packet sent, type=PRE_SLEEP, len=12

and then not

[2015-06-19 07:31] #32 closed

[2015-06-19 07:33] veny commented on #33
hi mike,
please read following documentation first: http://gearman.org/protocol/
it provides very good description how the gearman works with some examples on protocol level.

[2015-06-19 08:37] mike442144 commented on #33
Thanks a lot, I have read it. That's also cannot explain the problem mentioned above. Once I set `background` to `false` everything is ok.

[2015-06-19 13:13] mike442144 commented on #32
It's hard to use logger, when I wanna run the client and worker in background but the console is continuing printing information. I want to write all log to file. But how can I do that?

[2015-06-19 15:09] veny commented on #27
there is the reason: if you want to propagate the Unique from client to worker, you have to grab the job from gearman server with GRAB_JOB_UNIQ command.
unfortunately it was the last not implemented command.

I just released version 0.9.0 with fully implemented protocol. so if you initialize a worker like this:
[code]
and you send a job with Unique like this:
[code]
than you can use `job.unique` a

[2015-06-19 15:14] veny commented on #33
yes, it explains the problem.
if you use background job, the client sends the payload to gearman server and does NOT wait for a response. so you can only use function `job.workComplete()` (without data) to mark the job done on gearman server. you can NOT send some data to client back.

[2015-06-19 15:15] veny commented on #34
please feel free to make a branche and corresponding pull request.

[2015-06-19 15:19] veny commented on #32
there is many options, at least:
* you can redirect the standard output in console
* you can use the approach I suggested above
* you can initialize your own Logger and replace the GearmaNode default one
* you can read Winston source code to find other solution
* you can ask in Winston forum

[2015-06-23 01:49] mike442144 commented on #33
@veny I see, thanks a lot.

[2015-06-23 01:49] #33 closed

[2015-06-23 04:00] mike442144 commented on #32
Thank you, the first solution is useless, when I run like node `xxx.client.js` > xxx.log, the program also printed msg in console. Finally I use code as below:

    if(env === 'production'){
        logClient.remove(logClient.transports.console)
        logWorker.remove(logWorker.transports.console)
        logServer.remove(logServer.transports.console)
        logJob.remove(logJob.transports.cons

[2015-06-24 06:30] mike442144 opened #36 "What dose master do if the worker report error ?"
As the title mentioned I'm wondering what the master will do if the worker report error or exception. The master will send the job to another worker or just do nothing?

[2015-06-25 19:52] veny commented on #27
solved in v0.9.0

[2015-06-25 19:52] #27 closed

[2015-06-25 19:57] veny commented on #36
hi mike,
I do not want to be impolite, but your question is answered in gearman protocol description. please read it, maybe twice, before you ask: http://gearman.org/protocol/
my binding library is practicaly 1:1 javaScript implementation of the protocol, there is only a low abstraction. so if you understand the protocol, you understand my library.

additionally this question shoul be asked in gea

[2015-06-25 19:57] #36 closed

[2015-06-26 02:47] mike442144 opened #37 "What will happen if master queued large amount of jobs ?"
I got a problem, I have one hundred thousand jobs in master's queue, I found the running master server' memory kept increasing yesterday, and this morning I found my client process exited and cannot catch any error but the master was always running. my code:

    client.on("error",function(err){
        logClient.error(err);
    });

    client.on("jobServerError",function(jobServerUid,code,msg){

[2015-06-29 02:13] mike442144 commented on #37
the question link to Gearman google groups
https://groups.google.com/forum/#!topic/gearman/T9DnnmIc6Uw

[2015-07-02 02:14] mike442144 commented on #37
I've kept my tasks in mongodb and the master queue size limited to 100, but running for hours my client crash with any error, what's your advice ?

[2015-07-03 10:44] mike442144 opened #38 "What may happened with buffer's range error?"
buffer.js:506
    throw new RangeError('index out of range');
    ^
RangeError: index out of range
    at checkOffset (buffer.js:506:11)
    at Buffer.readUInt32BE (buffer.js:580:5)
    at JobServer._processData (/root/sp/node_modules/gearmanode/lib/gearmanode/job-server.js:278:15)
    at Socket.<anonymous> (/root/sp/node_modules/gearmanode/lib/gearmanode/job-server.js:129:18)
    at Socket.emit (

[2015-07-13 07:41] dcolens opened #39 "Limit job response size"
It would be nice to allow a limit to the size of a job response a bit like bodyparser allows to limit POST sizes. Today a worker could return many gigs of data without any way for the client to stop it.

[2015-07-15 07:10] mike442144 commented on #37
I find the problem is not in the server, but client. Every time client crashed, It reported the error as following:

    https://github.com/veny/GearmaNode/issues/38

Anybody has idea?

[2015-07-22 07:56] mike442144 opened #40 "How can I know the job count in server?"
Does the lib support this ?

[2015-08-04 02:22] mike442144 commented on #38
This happened over and over, all my program crashed, Is it a bug?

[2015-08-04 02:54] mike442144 commented on #38
blew is stack info:
RangeError: index out of range
at checkOffset (buffer.js:506:11)
at Buffer.readUInt32BE (buffer.js:580:5)
at JobServer._processData (/root/sp/node_modules/gearmanode/lib/gearmanode/job-server.js:278:15)
at Socket.<anonymous> (/root/sp/node_modules/gearmanode/lib/gearmanode/job-server.js:129:18)

then got this error:
out of sync with server

[2015-08-05 07:34] zero0707 commented on #6
I encounter a similar problem。
I just run worker and client on one machine, and for some time , it show the message as follows.
what reason can cause it?
thank you.

error:  Error: out of sync with server
    at Client._unrecoverableError (/home/zero/Projects/spider/node_modules/gearmanode/lib/gearmanode/client.js:280:24)
    at JobServer._processData (/home/zero/Projects/spider/node_modules/gearm

[2015-08-27 02:34] mike442144 opened #42 "What does `unknow job` mean?"
My client receive `unknow job` message that I haven't seen ever, Anybody know the case?

[2015-10-06 17:30] PrintNode-Pete commented on #39
The gearman protocol doesn't allow support this. Should the gearman server want to send you a lot of bytes in a response you've got to accept them and drain the client->server socket before you'll get anything else from the server.

It's not a HTTP 1.x style system where you have multiple sockets for each request and can just terminate one if it doesn't meet a spec and others will remain unaffecte

[2015-11-26 17:14] vatson commented on #24
@veny What's status of this feature?

[2015-11-27 12:36] vatson commented on #24
Just got to find a solution for workers without having to change the library itself

[code]

Perhaps, it can be useful for someone until we don't have a built-in implementation

FYI @veny  @recunius @hay-wire

[2015-12-07 13:58] lucaswxp opened #43 "How to turn off debug output or redirect to stdout"
Currently my logs are showing errors like
[code]

Which is really just debug information, is it possible to turn it off? Or redirect to stdout instead of stderr, so my error logs don't get polluted?

[2015-12-17 09:14] veny commented on #43
please read #18, #32 and https://github.com/veny/GearmaNode#logger

[2015-12-17 09:21] veny commented on #42
please provide more information.

do you obtain the mentioned text in `job.response` in `complete` event on client?

[2015-12-17 09:24] veny commented on #40
see here: http://stackoverflow.com/questions/20750896/gearman-gearadmin-command-line-tool-status-output-meaning

[2015-12-17 09:24] #40 closed

[2015-12-17 15:58] lucaswxp commented on #43
Thanks!

[2015-12-17 15:58] #43 closed

[2015-12-17 20:30] veny commented on #39
thx #PrintNode-Pete for proxying me, your answer is 100% correct,

[2015-12-17 20:30] #39 closed

[2015-12-17 20:34] veny commented on #34
closed because of inactivity

[2015-12-17 20:34] #34 closed

[2015-12-21 21:08] veny commented on #38
please try the last version

[2016-02-03 02:56] mike442144 opened #44 "How to close worker gracefully?"
As the title said, I noticed that the worker has a method named close, but not documented I'm wondering when to invoke this method and who should do this?

[2016-04-28 12:47] defra91 opened #46 "Job payload with JSON"
I am building a simple gearman architecture to run asynchronous jobs. I want to achieve the following:

- The client submit a job
- The payload of the job is a JSON object or array
- The worker receives the job with the JSON and executed a function

I have an issue, because what the worker receives as payload is a Buffer and I could not find a way to translate it to the original JSON.

The solutio

[2016-04-28 14:01] defra91 opened #47 "Job event `status` is not triggered"
I am trying to use the following:

[code]

But it never enter in the callback and so never prints 'STATUS'.

[2016-04-28 16:37] veny commented on #46
I would suggest a JSON serialization into a binary format and storing into Buffer. maybe this could be a tool for you: https://github.com/erossignon/serialijse

[2016-04-28 16:38] veny commented on #42
closed, inactive

[2016-04-28 16:38] #42 closed

[2016-04-28 16:41] veny commented on #47
you can see all the triggers for that event here: https://github.com/veny/GearmaNode#job-events

did you use your code in one of those contexts?

[2016-05-09 06:47] defra91 commented on #47
Yes I added the listener for different events, as specified in the documentation. However `status` event is never triggered.

[2016-05-09 06:48] defra91 commented on #46
Thank you. That is a better solution which worked for me.

[2016-05-09 06:48] #46 closed

[2016-06-09 13:09] dcolens opened #49 "impossible to catch 'all job servers fail' error"
The error 'all job servers fail' is thrown before the job is returned making it impossible for a client app to catch it.
in the scenario where all servers are temporarily invalid, line https://github.com/veny/GearmaNode/blob/8ad6e4895cae315b58a942b00d982d4b6bd48f4d/lib/gearmanode/client.js#L165 triggers before line https://github.com/veny/GearmaNode/blob/8ad6e4895cae315b58a942b00d982d4b6bd48f4d/li

[2016-07-28 19:59] herlon214 commented on #19
I'm doing this:

- fn that returns a new worker
- loop with how many workers I and
 - push worker into array

Seems to work fine

[2016-08-26 19:45] herlon214 opened #50 "Cancel a job"
There is any way to cancel a job after sometime?

[code]

[2016-08-29 18:14] herlon214 opened #51 "Error: read ECONNRESET"
Hi guys, after sometime my worker is showing this error:

[code]

Any idea?

[2016-09-18 06:19] mike442144 commented on #50
No, there is no way to cancel in Gearman protocol.

[2016-09-18 06:39] mike442144 commented on #51
Maybe your server is down.

[2016-09-19 13:25] mike442144 commented on #44
The way to close gracefully is first call resetAblities to notify Server CAN_NOT_DO functions and then close.

[2016-09-19 13:25] #44 closed

[2016-09-19 13:27] mike442144 commented on #37
Actually, there is nothing to do with https://github.com/veny/GearmaNode/issues/38, the client crashed because of memory leak.

[2016-09-19 13:27] #37 closed

[2016-09-19 13:29] mike442144 commented on #38
It's a problem while handling TCP packet which is fixed in last version by my colleague.

[2016-09-19 13:29] #38 closed

[2016-11-16 09:52] ankurhora commented on #33
Hi,
i created the client in node and worker in php... running job in background works fine on the client side

debug: packet encoded, type=SUBMIT_JOB_BG, buffer.size=340
debug: unconnected job server, uid=localhost:4730
warn: unhandled event, name=lookup
debug: job submited, name=resize, unique=undefined
debug: connection established, uid=localhost:4730
debug: no more a job waiting 4 state JOB_CRE

[2016-11-16 09:53] ankurhora opened #54 "Running in Backround Worker gets nothing"
Hi,
i created the client in node and worker in php... running job in background works fine on the client side

debug: packet encoded, type=SUBMIT_JOB_BG, buffer.size=340
debug: unconnected job server, uid=localhost:4730
warn: unhandled event, name=lookup
debug: job submited, name=resize, unique=undefined
debug: connection established, uid=localhost:4730
debug: no more a job waiting 4 state JOB_CRE

[2016-11-16 10:57] #54 closed

[2016-11-25 19:00] herlon214 commented on #51
I don't know why but this only occurs on Windows, Linux stay stable always.

[2017-01-17 18:24] dycode opened #55 "Worker does not get jobs if job payload in size ~65480-65510 bytes"
When payload size is around 65480-65510 bytes worker does not get jobs from gearman. Example:

    var gearmanode = require('gearmanode');
    var client = gearmanode.client({ port: 4730 });

    var x = '';
    for (var i = 0; i < 65700; i++) {
        x += 'a';

        if (x.length > 65480)
            client.submitJob('testsLength', x, { background: true, unique: x.length });
    }

    var wo

[2017-01-28 22:42] zain-creation opened #56 "workComplete not return data when use async mode"
Hi Men,
i use client job with background equals true to use async mode, but when i fire workComplete on worker with data inside the complete event in client job dont fire, how can i use async mode with gearman this is my example:
worker ---

`var gearmanode = require('gearmanode');
var worker = gearmanode.worker();

// Background Job
worker.setWorkerId('tjs82dd67d')
worker.addFunction('sleep', fun

[2017-02-08 19:48] veny commented on #56
please see docu:
1) https://github.com/veny/GearmaNode#job-events
2) http://gearman.org/protocol/

WORK_COMPLETE is only for non-background jobs, background jobs are detached.

[2017-02-08 19:49] #56 closed

[2017-02-08 20:24] veny commented on #51
please write a deterministic scenario/test how to simulate it, there is not enough informations in your post

[2017-02-08 20:30] veny commented on #50
what about CAN_DO_TIMEOUT
1) see http://gearman.org/protocol/
2) see 'timeout' parameter here: https://github.com/veny/GearmaNode#register-function

[2017-02-09 15:05] herlon214 commented on #51
I don't use Gearmanode on windows anymore. On ubuntu server it's working fine.

[2017-02-09 16:01] veny commented on #51
ok, thx for info

[2017-02-09 16:01] #51 closed

[2017-02-09 16:03] veny commented on #55
* I can reproduce it
* there is not a simple reason/problem visible at once
* more analysis needed

[2017-02-13 12:53] mike442144 commented on #50
@veny maybe the `gearman_server_job_cancel` is an inner function? if not we should implement the protocol.

`CAN_DO_TIMEOUT` is not exactly the same with cancel.

[2017-02-14 15:19] martynas19942 commented on #55
I have this problem too, please fix it. Maybe some one have quick solution?

[2017-02-15 09:37] donatas-dycode commented on #55
@veny I can also reproduce it and have the same issue. Maybe some fix commming up soon?

[2017-02-20 13:06] AndrejLukasevic commented on #55
Same here.

[2017-02-28 12:38] paulius-zubavicius commented on #55
Hi, it seems I got the same. Workarounds it is not a solution :( How long it could take? Please help

[2017-03-30 10:18] arunjosephselvakumar opened #58 "How to run gearmanode using node js"
Please let me know how to run gearmanode using node js

[2017-04-05 18:57] janober commented on #24
No updates for a while so was wondering if that still gets fixed or if the work around of vason should be used?

[2018-01-16 01:34] jzr-ars opened #60 "gearman Error in usage(-?)."
Hello,
i got error when i use gearmanode for create job to reverse geocode,
when my payload function is include minus (-), gearman always say that 'gearman Error in usage(-?).'.
how can i use minus in my function payload?
'

[2018-05-31 18:38] steevhise opened #61 "Maintained?"
Hi, is anyone still maintaining this package?  Anyone have a maintained fork that they've packaged?

[2018-06-25 17:12] steevhise commented on #61
For reference of anybody else wondering - We switched to Abraxas, seems more current and well-designed...
https://github.com/iarna/abraxas

[2018-07-08 19:16] DavidRadan opened #62 "TypeError: Cannot set property 'isLevelEnabled' of undefined"
Hi There,
It seems that this repository doesn't work anymore because of the "_winston_" plugin which has been changed , It could be great if you could fix these issues , at least update this plugin so that the plugin will  be useful again.

Tested with latest node  10.6.0 .

Thanks in advanced .

[code]

**[winston] Attempt to write logs with no transports %j
logger.js:202
Object {level: "info", m

[2018-07-08 19:28] DavidRadan commented on #61
This plugin seems to be abandoned, shame really this could be a great plugin many features and it's almost well documented .

Shame.....

[2018-07-23 22:29] aledefreitas commented on #62
@DavidRadan

If you want to fix this issue you can add to your project's dependencies:
[code]

Or do a `npm install --save winston@0.7.1`, since it is the last version Gearmanode had compatibility with winston. That should solve your problem as it solved mine.

[2018-07-24 10:01] DavidRadan commented on #62
Hi aledefreitas ,

Many thanks for the solution but we decided to build our own solution based on node.js .

Regards,

[2018-07-31 10:49] rkmax commented on #62
I have lost couple hours with this, I think a < 3.0 will be great on the dependencies

[2018-07-31 10:52] DavidRadan commented on #62
I think it would be wise to use other open source "queue" solution as this solution seems to be outdated .
Building new solutions based on this technology can cause a huge headache in the future .
Regards,
David

[2018-08-14 09:18] mike442144 commented on #62
@DavidRadan Actually, we have used this project for three years, it is so stable that we even no need to maintain. And it is not only a kind of "queue" solution, it enables you to do every thing distributed because of [Gearman](http://gearman.org)'s protocol.

[2019-02-08 14:42] kvelaro commented on #62
super, thanks

[2019-07-12 06:52] kvelaro opened #63 "Error: all job servers fail"
Related to #12
I have read that issue, and did as you advised. I catch error and try not to exit worker, but it does.
In code I have:

[code]
...

[code]
But in worker output I see

[code]

Also I want to mention:
I have 700 jobs to be made, and if I run first time, all jobs are done correct, and no worker does not exit (throw error). If I rerun tasks (after thay are finished, and !!! without serv

[2019-07-16 06:59] kvelaro commented on #63
Stupid me,
It was typical error of memory leaking.
I ignored example provided by this packet of closing socket after my task is done.

[code]

So, I guess gearman has limit of socket count of 1000.
At first run I opened 700 sockets, and at second nearly 300. When max limit count reached, I had that error.

I think that error

is not suitable here.

But to mention it again, it was memory leak, sorr

[2019-11-26 15:04] NoiseEee commented on #61
Thanks @steevhise!  Indeed, as Node moves on, it becomes near-impossible to install gearman-node without an ancient version of Winston, and other dependencies long in the past.

We've moved to abraxas and its works great / very little code change required!!

[2019-11-26 16:59] NoiseEee commented on #61
@steevhise Are you seriously associated with Negativland?!?!?!?!?!?!?!

[2020-10-29 18:20] rowntreerob commented on #62
@DavidRadan thank you for solution to :

nooby w evaluation of gearmanode and winston that failed outta box on strange winston fails to init or construct class instance.
"0.7.1" solved it for me

[2021-05-27 04:16] theNodeMan commented on #61
Fork. Latest update 9 months ago and has winston updated: https://www.npmjs.com/package/gearmanode-up

[2022-09-06 16:41] kvelaro commented on #62
Sorry your solution is not working with winston anymore with newer nodejs. Is there any development?